:host {
    display: flex;
    flex-direction: column;

    .weather-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        margin-top: 0.5rem;

        div.temp {
            font-size: 1.5rem;
            font-weight: 700;
        }

        > div {
            text-align: center;
            width: 33%;

            &:nth-child(3) {
                text-align: start;
            }
        }
    }
}