:host {
    display: flex;
    flex-direction: column;

    .weather-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        > div {
            text-align: center;
            width: 33%;

            &:nth-child(3) {
                text-align: start;
            }
        }
    }
}