:host {
    display: flex;
    flex-direction: column;

    margin: 1.5rem auto;
    padding: 1rem;

    width: 80%;
    

    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgray;

    > * {
        padding: 0.5rem;

        border-radius: 5px;
        
        background-color: blanchedalmond;
    }

    div {
        display: flex;
    
        width: 100%;
    
        > * {
            width: 20%;

            border-right: 1px solid rgba($color: #000000, $alpha: 0.1);

            &:last-child {
                border-right: none;
            }
        }
    }
}

